# -------------------------------------------------------
# Hyperledger Fabric Generated Artifacts
# -------------------------------------------------------

/bin/
/config/
.bashrc
/organizations/
/system-genesis-block/
/ledgers/
/ledgers-backup/

/channel-artifacts/*.tx
/channel-artifacts/*.block
/channel-artifacts/*.json
/channel-artifacts/*.pb

/org3-artifacts/crypto-config/*
/organizations/fabric-ca/ordererOrg/*
/organizations/fabric-ca/org1/*
/organizations/fabric-ca/org2/*
/addOrg3/fabric-ca/org3/*

# Chaincode packages
*.tar.gz

# Logs
log.txt
*.log

# -------------------------------------------------------
# Go
# -------------------------------------------------------

*.exe
*.test
*.out
coverage.out

# -------------------------------------------------------
# IDE
# -------------------------------------------------------

.vscode/
.idea/

# -------------------------------------------------------
# Operating System
# -------------------------------------------------------

.DS_Store
Thumbs.db

# -------------------------------------------------------
# Docker
# -------------------------------------------------------

docker-compose.override.yaml

# -------------------------------------------------------
# Environment
# -------------------------------------------------------

.env
.env.*

# -------------------------------------------------------
# Misc
# -------------------------------------------------------

*.swp
*.swo